################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetMailSample/.vs/NetMailSample/FileContentIndex/068f34d5-1c34-4180-9b99-8b4071c3fa52.vsidx
/NetMailSample/.vs/NetMailSample/FileContentIndex/447ae56e-1e72-400e-a509-72777bcf814e.vsidx
/NetMailSample/.vs/NetMailSample/FileContentIndex/8cf0b192-41d3-4654-a0e3-5f26fdedac2d.vsidx
/NetMailSample/.vs/NetMailSample/FileContentIndex/e7b60178-8015-43d3-8eda-cb58bd3fb728.vsidx
*.vsidx
